
/* Background */
body {
    height: 100vh;
    width: 100%;
    cursor: pointer;
    background: linear-gradient(45deg, #ff00cc, #00ffcc, #cc00ff, #ff00cc);
    background-size: 400% 400%;
    animation: gradientAnimation 15s infinite;
    overflow: hidden;
    background-attachment: fixed;
    font-family: 'Comfortaa', sans-serif;
    visibility: hidden;
    
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/* Containor */

.con {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgba(255,255,255,0.5);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 90%;
    height: 90%;
    cursor: default;
    overflow-y: scroll;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    width: 100%;
    cursor: default;
}

.back {
    position: relative;
    cursor: default;
}

/* Inputs */

input[type="text"],
input[type="password"],
input[type="email"],
input[type="submit"],
select{
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}

button:hover {
    background-color: #0056b3;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

a {
    display: block;
    color: #007bff;
    text-align: center;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}



.message{
    color:#fff;
}

input[type="text"],
input[type="password"] {
  width: 80%; 
  max-width: 300px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: rgba(250,250,250,0.5); 
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  margin: 10px !important;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  display: inline-block; /* Ensures buttons stay in the same line */
}

button:last-child {
  margin-bottom: 0 !important;
}

button:hover {
  background-color: #0056b3 !important;
}

a {
  display: block;
  color: #007bff;
  text-align: center;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.hidden {
  display: none;
}

iframe {
  width: 100%; 
  height: 100%;
  border-radius: 4px;
}

.Bside a {
  position: absolute;
  left: -90px;
  transition: 0.3s;
  padding: 15px;
  width: 100px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  border-radius: 0 5px 5px 0;
  z-index: 10;
}

.material-symbols-outlined {
  float: right;
}

.home {
  top: 20px;
  background-color: #04AA6D;
}



.full {
  top: 80px;
  background-color: #9f1ff4;
  width: 150px !important;
  left: -140px !important;
}


.Bside .home:hover, 
.Bside .qac:hover, 
.Bside .full:hover {
  left: 0 !important; 
}





h2, p {
  color: #ffffff;
}

#allGames {
  max-height: 50vh;
  overflow-y: scroll;
}

@media screen and (max-width: 768px) {
  .con {
    width: 95%;
    height: 95%;
  }

  input[type="text"],
  input[type="password"] {
    width: 90%;
    max-width: none;
  }

  .Qaccess {
    width: 80%;
    left: -80%;
  }

  .Bside a {
    left: -60px;
  }

  .Qaccess .closebtn {
    right: 15px;
  }
}

@media screen and (max-width: 480px) {
  button {
    padding: 8px 15px;
    margin: 5px;
  }

  .Bside a {
    left: -50px;
  }


}


.noscroll{
    overflow: hidden;
}
